:root {
  --primary-color: #000000;
  --secondary-color: #555555;
  --background-color: #f0f0f0;
  --text-color: #000000;
  --light-text-color: #ffffff;
  --button-bg-color: #888888;
  --button-hover-bg-color: #555555;
  --header-bg-color: #000000;
  --nav-bg-color: #333333;
  --hero-overlay-color: rgba(0, 0, 0, 0.5);
}

/* Global Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

/* Header Styles */
header {
  background-color: var(--header-bg-color);
  color: var(--light-text-color);
  padding: 40px 20px;
  text-align: center;
}

header h1 {
  margin: 40;
  font-size: 3em;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

/* Navigation Styles */
nav {
  background-color: var(--primary-color);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  flex: 1;
}

nav a {
  display: block;
  color: var(--light-text-color);
  text-align: center;
  padding: 14px 0;
  text-decoration: none;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: var(--nav-bg-color);
}

.hero-image {
  background-image: url("../Images/8k_earth_nightmap.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 500px;
  /* filter: grayscale(100%); */
}

.hero-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: var(--hero-overlay-color); */
}

.hero-text {
  color: var(--light-text-color);
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.hero-text h2 {
  font-size: 3em;
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.hero-text .button {
  background-color: var(--button-bg-color);
  color: var(--light-text-color);
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-text .button:hover {
  background-color: var(--button-hover-bg-color);
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(85, 85, 85, 0.3);
}

.light-image {
  background-image: url("../Images/Light_Pollution.png");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 500px;
  /* filter: grayscale(100%); */
}

.light-image::after {
  content: '';
  position: absolute;
  top: 0;
  
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: var(--hero-overlay-color); */
}
/* Section Styles */
section {
  padding: 60px 20px;
  text-align: center;
}

section:nth-of-type(even) {
  background-color: #f7f7f7;
}

section h2 {
  font-size: 2.5em;
  color: var(--primary-color);
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
}

section p {
  font-size: 1.2em;
  line-height: 1.8em;
  color: var(--secondary-color);
  max-width: 800px;
  margin: 0 auto 30px;
}

.button {
  display: inline-block;
  background-color: var(--button-bg-color);
  color: var(--light-text-color);
  padding: 12px 24px;
  margin: 20px 0;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: var(--button-hover-bg-color);
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(85, 85, 85, 0.3);
}

/* Map Section */
#map {
  width: 100%;
  height: 500px;
}

/* Footer Styles */
footer {
  background-color: var(--header-bg-color);
  color: var(--light-text-color);
  text-align: center;
  padding: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    width: 100%;
  }

  header h1 {
    font-size: 2.5em;
  }

  section h2 {
    font-size: 2em;
  }

  .button {
    padding: 10px 20px;
    font-size: 0.9em;
  }
}

