body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #0D0D0D;
  color: #FFFFFF;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

header {
  background-color: #000000;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

header h1 {
  text-align: center;
  margin: 2;
  font-size: 3em;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

nav {
  background-color: #1A1A1A;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  font-size: 1.1em;
  padding: 10px;
  transition: color 0.3s;
}

nav a:hover {
  color: #FFD700;
}

#intro {
  text-align: center;
  padding: 190px 20px 100px;
  background: url('Images/8k_earth_daymap.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #FFFFFF;
}

#intro h2 {
  font-size: 3em;
  margin-bottom: 50px;
  text-shadow: 2px 2px #000000;
}

#intro p {
  font-size: 1.5em;
  margin-bottom: 40px;
  text-shadow: 1px 1px #000000;
}

.button {
  background-color: #FFD700;
  color: #000000;
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #FFC700;
}

/* Map Section */
#map-section {
  display: flex;
  margin-top: -50px;
}

#map {
  margin-left: 2%;
  width: 75%;
  height: calc(100vh - 80px);
}

#sidebar {
  width: 25%;
  background-color: #1A1A1A;
  padding: 20px;
  overflow-y: auto;
}

.legend-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Footer */
footer {
  background-color: #000000;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
  }

  nav li {
      margin: 10px 0;
  }

  #map-section {
      flex-direction: column;
  }

  #map {
      width: 100%;
      height: 50vh;
  }

  #sidebar {
      width: 100%;
      height: auto;
  }
}
